services:
  foxydb:
    image: postgres:17
    environment:
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: foxy_eckoes
    networks:
      - app-network
    volumes:
      - db-data:/var/lib/postgresql/data

  foxybackend1:
    image: foxyeckoesapi:0.1
    environment:
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      DATABASE_HOST: ${DATABASE_HOST}
      SECRET_STRING: ${SECRET_STRING}
    networks:
      - app-network
    depends_on:
      - foxydb

  foxybackend2:
    image: foxyeckoesapi:0.1
    environment:
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      DATABASE_HOST: ${DATABASE_HOST}
      SECRET_STRING: ${SECRET_STRING}
    networks:
      - app-network
    depends_on:
      - foxybackend1
      ## waits for foxybackend1 to avoid duplicate events and users to be created

  load-balancer:
    image: nginx:1.29.3
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - app-network
    depends_on:
      - foxybackend1
      - foxybackend2


networks:
  app-network:
    driver: bridge


volumes:
  db-data: